div.row#isp-header
    div.col-md-4
        h1 
            b Biz2Credit
                sup &reg;
    div.col-md-4#tagline
        h6.badge.badge-primary ~ ISP search made easy ~
    div.col-md-4
        p.alert.alert-success Total ISP: {{totalProviders}} | API Hits: {{totalApiHits}}
